---
import Layout from '../layouts/Layout.astro';
---

<Layout title="good things">
	<main class="bg-black text-white min-h-screen py-28">
		<div class="max-w-xs md:max-w-2xl mx-auto flex flex-col gap-y-10">
			<a href="https://maps.app.goo.gl/YVbRwrV9dBDNDiZ79" target="_blank" class="hover:underline">Klodjen Djadja 1956</a>
			<a href="https://maps.app.goo.gl/czd7wjHg42ZbMAbS8" target="_blank" class="hover:underline">Fajar Baru 2 Comboran</a>
			<a href="https://maps.app.goo.gl/k8S7WA76L7AECMQV6" target="_blank" class="hover:underline">Warung Sempurno Sego Duro</a>
        	<a href="https://maps.app.goo.gl/YYWtwkbmWB2XrE4z6" target="_blank" class="hover:underline">Toko Kopi Abah</a>
        	<a href="https://maps.app.goo.gl/Y6SGERHUFZzqw8pg6" target="_blank" class="hover:underline">Kopi Sekejap</a>
        	<a href="https://maps.app.goo.gl/M9iLAYnFWJCe6LG66" target="_blank" class="hover:underline">Gultik Suhat</a>
        	<a href="https://maps.app.goo.gl/jz8bAmYBxbe3Zmj76" target="_blank" class="hover:underline">Warkop Djayantie Serayu</a>
        	<a href="https://maps.app.goo.gl/YXoeF3PsPKBsWoQUA" target="_blank" class="hover:underline">Nogo Keling</a>
        	<a href="https://maps.app.goo.gl/eNztvYLowbwoGzze6" target="_blank" class="hover:underline">Bakso Cak Ni (Bakso Gapuro)</a>
        	<a href="https://maps.app.goo.gl/9gGDZ4xJ9tziLMPX7" target="_blank" class="hover:underline">Kidang Djaja (UM)</a>
        	<a href="https://maps.app.goo.gl/C5dgUdkxVCJ36yvA8" target="_blank" class="hover:underline">Lalapan Cak Midi</a>
        	<a href="https://maps.app.goo.gl/MeLLghQS3EG3swFx8" target="_blank" class="hover:underline">Tjap Panorama</a>
        	<a href="https://maps.app.goo.gl/9bYvm59iTREGWjLJA" target="_blank" class="hover:underline">Baja.co</a>
        	<a href="https://maps.app.goo.gl/QBdG6fUYmDUmbRZM7" target="_blank" class="hover:underline">Seicori</a>
        	<a href="https://maps.app.goo.gl/Qx3yBLktvcRkfwyK8" target="_blank" class="hover:underline">Pangsit Mie Mendut - Pak Wawan</a>
        	<a href="https://maps.app.goo.gl/x5x1PbokN6oorb5s9" target="_blank" class="hover:underline">Kopi Wojo</a>
        	<a href="https://maps.app.goo.gl/gteFkCr9o2J78ght8" target="_blank" class="hover:underline">Pangsit Mie dan Bakso M Gendut</a>
        	<a href="https://maps.app.goo.gl/wNcKuyVkC58RAJyMA" target="_blank" class="hover:underline">Kauman Coffee</a>
        	<a href="https://maps.app.goo.gl/1nHYe3asDjmtxavv7" target="_blank" class="hover:underline">Warung Pawon Mbok Iro</a>
        	<a href="https://maps.app.goo.gl/xS8RVNSHCwtC48RC6" target="_blank" class="hover:underline">Warmindo Sam Ndut 3</a>
        	<a href="https://maps.app.goo.gl/uxW5Zd6eBzihPSso7" target="_blank" class="hover:underline">Kedai Kopi & Nasi Lemak Jasa Ayah</a>
        	<a href="https://maps.app.goo.gl/8ZZRFJHs4QjNLrgd8" target="_blank" class="hover:underline">Selak.</a>
        	<a href="https://maps.app.goo.gl/cRBrgj33jXcJJr4fA" target="_blank" class="hover:underline">Kedai Kopi Sinar Mandiri</a>
        	<a href="https://maps.app.goo.gl/keuB7AKJZgz149th7" target="_blank" class="hover:underline">Mie Bakar Celaket</a>
        	<a href="https://maps.app.goo.gl/V2B9dX2kgd5h8yc3A" target="_blank" class="hover:underline">Warkop Djayantie</a>
        	<a href="https://maps.app.goo.gl/Toh5HH8Y8mg5g77DA" target="_blank" class="hover:underline">Kidang Djaja (TMP)</a>
        	<a href="https://maps.app.goo.gl/FP6VYFfh3PFH8NaF6" target="_blank" class="hover:underline">Es Teler Mendut</a>
		</div>
	</main>
</Layout>
